body {
    color: rgb(255, 255, 255);
    background: rgb(248, 190, 117);
    margin: 0px;
    font-family: "Bona Nova SC", serif;
}

header {
    border-bottom:solid 2px rgb(134, 67, 48);
    padding: 20px; 
    font-size: 32px;
    color: rgb(145, 65, 36);
}

section{
    background: rgb(119, 165, 230);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center ;
}

.chamada-texto {
    margin-right: %5 ;
}

h1{
    font-size: 35px ;
}

p1{
    font-size: 20px;
}

h2 {
    margin: 10px;
}